---
import PostHeading from '../../components/PostHeading.svelte';
import BaseLayout from '../../layouts/BaseLayout.astro';
import DynamicTOC from '../../components/DynamicTOC.svelte';
import { getPosts, type Post } from '@/posts';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = Post;

const post = Astro.props;
const { Content, headings, title, created, description, link } = post;
---

<BaseLayout title={title} description={description}>
  <div class="flex flex-row w-screen">
    <div class="side-item flex flex-row justify-end items-start">
      <DynamicTOC {headings} client:load />
    </div>
    <div class="content overflow-hidden mt-4 bg-white dark:bg-slate-800 mx-auto py-12 max-w-3xl">
      <div class="max-w-2xl mx-auto px-2">
        <PostHeading {title} {link} {created} />
        <div class="prose prose-slate dark:prose-invert font-sans mx-auto mt-4 max-w-none">
          <Content />
        </div>
      </div>
    </div>
    <div class="side-item"></div>
  </div>
</BaseLayout>

<style lang="postcss">
	.side-item {
	  flex: 1 1;
	  container-type: inline-size;
	}
  
	.content {
	  flex: 10000 0;
	}
</style>
