---
import type { Post } from '@/posts';
import PostHeading from './PostHeading.svelte';
type Props = Post;

const { title, link, created, PreviewContent, description } = Astro.props;
---

<div class="mt-4 bg-white dark:bg-slate-800 mx-auto py-12 max-w-3xl">
  <div class="max-w-2xl mx-auto px-2">
    <PostHeading {title} {link} {created} />

    <div class="prose prose-slate dark:prose-invert font-sans mt-4 max-w-none">
      {PreviewContent ? <PreviewContent /> : <p>{description}</p>}

      <p>
        <a href={link}>Read more...</a>
      </p>
    </div>
  </div>
</div>
