---
import type { Post } from '@/posts';
import BaseCard from './BaseCard.astro';
import PostHeading from './PostHeading.svelte';
type Props = Post;

const { title, link, created, PreviewContent, description } = Astro.props;
---

<BaseCard>
  <PostHeading {title} {link} {created} />

  <div class="prose prose-slate dark:prose-invert font-sans mt-4 max-w-none">
    {PreviewContent ? <PreviewContent /> : <p>{description}</p>}

    <p>
      <a href={link}>Read more...</a>
    </p>
  </div>
</BaseCard>
